
@{
    ViewData["Title"] = "Index";
}


    <div id="mainContent">
        <div class="day">
            <div class="dayTitle">
                <a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="https://www.cnblogs.com/lic0914/archive/2018/09/03.html">2018年9月3日</a>
            </div>


            <div class="postTitle">
                <a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/lic0914/p/9578043.html">mono+jexus 部署之CompilationException</a>
            </div>
            <div class="postCon"><div class="c_b_p_desc">摘要: 使用 HelpPage 组件 CompilationException 好不容易在ubuntu上搭建了mono+jexus，欣喜若狂的部署上发布的网站，急忙打开，成功运行。 但是别高兴的太早，当我打开WebApi帮助页时出现了CompilationException。 解决办法 修改 的节点里添加 <a href="https://www.cnblogs.com/lic0914/p/9578043.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
            <div class="clear"></div>
            <div class="postDesc">posted@2018-09-03 13:47 流年灬似氺 阅读(5) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=9578043" rel="nofollow">编辑</a></div>
            <div class="clear"></div>
        </div>
        <div class="day">
            <div class="dayTitle">
                <a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="https://www.cnblogs.com/lic0914/archive/2018/09/03.html">2018年9月3日</a>
            </div>


            <div class="postTitle">
                <a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="https://www.cnblogs.com/lic0914/p/9578043.html">mono+jexus 部署之CompilationException</a>
            </div>
            <div class="postCon"><div class="c_b_p_desc">摘要: 使用 HelpPage 组件 CompilationException 好不容易在ubuntu上搭建了mono+jexus，欣喜若狂的部署上发布的网站，急忙打开，成功运行。 但是别高兴的太早，当我打开WebApi帮助页时出现了CompilationException。 解决办法 修改 的节点里添加 <a href="https://www.cnblogs.com/lic0914/p/9578043.html" class="c_b_p_desc_readmore">阅读全文</a></div></div>
            <div class="clear"></div>
            <div class="postDesc">posted@2018-09-03 13:47 流年灬似氺 阅读(5) 评论(0)  <a href="https://i.cnblogs.com/EditPosts.aspx?postid=9578043" rel="nofollow">编辑</a></div>
            <div class="clear"></div>
        </div>
    </div>
