<header>
    <div class="logo">
        <h1>KnowledgeBase</h1>
        <div class="search" style="margin-top:30px;">
            <form class="form-inline my-2 my-lg-0 mr-5">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 mr-3" type="submit">Search</button>
                <button class="btn btn-success mr-3">登录</button>
                <button class="btn btn-outline-success">注册</button>
            </form>
        </div>
       
    </div>
    <nav class="navbar navbar-expand-lg navbar-light clear" style="background:#169fe6;">
       
        <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
            </ul>
           
        </div>
    </nav>
</header>