*,ul,li{margin:0;padding:0;}
.logo {
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    color: #17a2b8;
    text-shadow: 1px 2px 0px #17a333;
}
.logo h1{
    float:left;
    max-width:300px;
    height:100px;
    line-height:100px;
}
.logo .search{
    float:right;
}
.navbar-nav li a{
    display:inline-block;
    padding:0 20px;
    color:#fff;
    text-decoration:none;
}
.navbar-nav li a:hover{
    color:lightgreen;
}
#main{
    max-width:1200px;
    margin:20px auto;
}
.day {
    background: #fff;
    padding: 20px;
    border: 1px solid #dedede;
    margin-bottom: -1px;
}
.dayTitle {
    color: #fff;
    background-color: #45bcf9;
    padding: 3px 6px;
    font-size: 12px;
    display: block;
    float: left;
    margin-right: 10px;
    z-index: 10px;
}
.day .postTitle {
    font-size: 21px;
    line-height: 1.5em;
    float: left;
    clear: right;
}
.postCon {
    padding: 15px 0;
    clear: both;
}
.clear {
    clear: both;
}
.postDesc {
    clear: both;
    color: #bcbcbc;
    float: none;
    text-align: left;
    line-height: 200%;
    font-size: 12px;
}
.day:hover {
    border: 1px solid #169fe6;
    position: relative;
    z-index: 10;
}